<html>
<head>
    <title>Test Page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
    <div class='main-container'>
        <div class='holder-title'>
        My Dances
    </div>
        <div class='choreo-holder'>
            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 0
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 1
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
        </div>

        <div class='holder-title'>
            Explore
        </div>
        <div class='choreo-holder'>
            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 0
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 1
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class='choreo-item card'>
                <img src="https://picsum.photos/170?random" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        Dance 2
                    </div>
                    <div class='choreo-item-duration'>
                        0:05
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
