<html>
<head>
    <title>Test Page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>
<h1>My Dances</h1>

<div class='dance'>
    <div class='text'>
        <div class='title'>Dance #1</div>
        <div class='author'>By: Joe</div>
    </div>
    <div class='buttons'>
        <div class='time'>4:50</div>
        <div class='edit'>Edit</div>
    </div>

    <div class='thumbnail'>
        <img src="https://i.pinimg.com/736x/f7/17/82/f71782e75f1a9f35a5f88183c7194fb2--dance-class-dance-studio.jpg"
             alt="Smiley face" height="42" width="42">
    </div>
</div>

<div class='dance'>
    <div class='text'>
        <div class='title'>Dance #2</div>
        <div class='author'>By: Me</div>
    </div>
    <div class='buttons'>
        <div class='time'>3:00</div>
        <div class='edit'>Edit</div>
    </div>

    <div class='thumbnail'>
        <img src="https://i.pinimg.com/736x/f7/17/82/f71782e75f1a9f35a5f88183c7194fb2--dance-class-dance-studio.jpg"
             alt="Smiley face" height="42" width="42">
    </div>
</div>

<div class='dance'>
    <div class='text'>
        <div class='title'>Dance #3</div>
        <div class='author'>By: Angel</div>
    </div>
    <div class='buttons'>
        <div class='time'>6:50</div>
        <div class='edit'>Edit</div>
    </div>

    <div class='thumbnail'>
        <img src="https://i.pinimg.com/736x/f7/17/82/f71782e75f1a9f35a5f88183c7194fb2--dance-class-dance-studio.jpg"
             alt="Smiley face" height="42" width="42">
    </div>
</div>

<div class='bottom-btns'>
    <i class='btn material-icons'>home</i>
    <i class='btn material-icons'>add</i>
    <i class='btn material-icons'>search</i>
</div>
</body>
</html>
