
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="dcount.css">
    <style>
        .container{
            position:relative;
            width:300px;
            height:200px;
            border-radius:5px;
            border:1px solid red;
            overflow:hidden;
        }
    </style>

    <title>dancecount</title>
    
    <style>
    <!--
    body {
      color:#000000;
      background-color:#FFFFFF;
      background-image:url('Background Image');
      background-repeat:no-repeat;
    }

  
    </style>
  </head>
  <body>
  <!DOCTYPE html>

<html>

<head>
  
  <h1 align="center">Dance Notes</h1>
</head>

<body>
<div id="body" align="center">
  <div id="imgGallary" class="container">
    <img src="http://www.examiningcalvinism.com/kingdavid.jpg" alt="" width="100%" height="300" />
    <img src="http://www.kingjamesbibleonline.org/1611-Bible/1611-King-James-Bible-Introduction.jpg" alt="" width="100%" height="300" />
    <img src="http://biblestudyoutlines.org/wp-content/uploads/2012/07/the-triump-of-david-over-king-hadadezer-of-zobah-1024x729.jpg" alt="" width="100%" height="300" />
    <img src="http://www.cgu.edu/Images/news/Flame%20Winter12/KJV-BibleBW.jpg" alt="" width="100%" height="300" />
</div>
<script>
(function(){
        var imgLen = document.getElementById('imgGallary');
        var images = imgLen.getElementsByTagName('img');
        var counter = 1;

        if(counter <= images.length){
            setInterval(function(){
                images[0].src = images[counter].src;
                console.log(images[counter].src);
                counter++;

                if(counter === images.length){
                    counter = 1;
                }
            },4000);
        }
})();
</script>
  <p>Audio</p>

  <audio id="sample" src="niceforwhat.mp3" controls preload ontimeupdate="document.getElementById('tracktime').innerHTML = 
  Math.floor(this.currentTime) + ' / ' + Math.floor(this.duration);">
    <p>Your browser does not support the audio element</p>
  </audio>

       
  <span id="tracktime"></span>

  <script>
    var audio = document.getElementById('sample');
    var segmentEnd;

    audio.addEventListener('timeupdate', function (){
        if (segmentEnd && audio.currentTime >= segmentEnd) {
            audio.pause();
        }   
        console.log(audio.currentTime);
    }, false);

    function playSegment(startTime, endTime){
        segmentEnd = endTime;
        audio.currentTime = startTime;
        audio.play();
    }
  </script>



</div>

</body>
</html>