


/* The switch - the box around the slider */
/*.switch {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*width: 36px;*/
  /*height: 21px;*/
/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch input {*/
  /*opacity: 0;*/
  /*width: 0;*/
  /*height: 0;*/
/*}*/

/* The loop toggle*/
#loopslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#loopslider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + #loopslider {
  background-color: #2196F3;
}

input:focus + #loopslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + #loopslider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#myRange {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#myRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/*CSS FOR LOOP RANGE SLIDER */

form  {
    margin: 60px 0 0 0 !important;
 }
 
.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}
 
.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}

.irs--flat .irs-bar {
    height: 32px;
    border-radius: 2px;
    color: white;
    font-size: 1.7em;
    padding-left: 7px;
}

.irs--flat .irs-handle {
    margin-top: 8px;
    height: 22px;
}

.irs--flat .irs-line {
    display: none;
}

.irs--flat {
    height: 60px;
    width: 320px;
}

.irs-min, .irs-max {
    display: none;
}

.irs--flat .irs-handle>i:first-child {
    background-color: black;
}

.from {
    margin-left: 3px;
}

.to {
    margin-left: 3px;
}