@font-face {
    font-family: sfpro;
    src: url(../fonts/sfpro.otf);
}

.choreo-holder {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.choreo-item {
    width: 170px;
    height: 170px;
    margin-left: 10px !important;
}

.choreo-item-bot {
    width: 170px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.choreo-item-text {
    color: rgba(255,255,255,0.9);
    font-size: 1.6em;
    margin-left: 5px;
    height: 26px;
    line-height: 28px;
}

.choreo-item-duration {
    margin-left: 5px;
    color: rgba(255,255,255,0.55);
}

.choreo-item-btn {
    position: relative;
    top: -40px;
    left: 130px;
}

.main-container {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    /*   background-color: red; */
}

.holder-title {
    padding-left: 10px;
    font-size: 2em;
}

.holder-shadow {
    height: 174px;
    background-color: black;
    width: 20px;
    margin-top: 6px;
    position: absolute;
    z-index: 10;
}