@font-face {
    font-family: sfpro;
    src: url(../fonts/sfpro.otf);
}

body {
    padding: 10px;
}

.choreo-holder {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.choreo-item {
    width: 170px;
    height: 170px;
    margin-left: 10px !important;
    cursor: pointer;
}

.choreo-item-bot {
    width: 170px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.choreo-item-text {
    color: rgba(255,255,255,0.9);
    font-size: 1.6em;
    margin-left: 5px;
    height: 26px;
    line-height: 28px;
}

.choreo-item-duration {
    margin-left: 5px;
    color: rgba(255,255,255,0.55);
}

.choreo-item-btn {
    position: relative;
    top: -40px;
    left: 130px;
}

.main-container {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    /*   background-color: red; */
}

.holder-title {
    padding-left: 10px;
    font-size: 2em;
}

#login-card {
    display: flex;
    justify-content: center;
    color: #848484;
}

#create-btn {
    width: 170px;
    height: 170px;
    margin-left: 10px;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    cursor: pointer;
}

.holder-title {
    font-family: sfpro;
}

.new-clip-btn {
    position: unset !important;
    bottom: unset !important;
    margin: 20px auto auto;
}

.create-container {
    height: 600px;
    background-color: #404040;
}

.cue-container {
    /*background-color: red;*/
    width: calc(100% - 84px);
    height: 100%;
}

.divid {
    height: 95%;
    margin-top: 2%;
    width: 3px;
    padding: 0 !important;
    background-color: white;
}

#back-btn {
    margin-bottom: -55px;
}